.task-item{
    background-color: #3A928B;  
    margin:10px;
    padding:5px;
    border-radius: 10px;
    position:relative
}

.task-operations{
    position: absolute;
    right: 5px;
}

.delete-task-icon{
    cursor: pointer;
}